flow
[{"id":"87b116f2.636188","type":"tab","label":"Test","disabled":false,"info":""},{"id":"1af37fe8.ba8b9","type":"mqtt in","z":"87b116f2.636188","name":"Vacuum","topic":"vacuum","qos":"2","datatype":"auto","broker":"dca8beaf.9bb41","x":90,"y":120,"wires":[["534ceeda.e001a"]]},{"id":"534ceeda.e001a","type":"function","z":"87b116f2.636188","name":"Recupera muti stanza","func":"const globalHA = global.get('homeassistant');\n\n// recupero stato sensore stanze\nstrStanze = globalHA.homeAssistant.states[\"sensor.pulizia_multi_stanze\"].state;\n\n// elimino le parentesi quadre\nstrStanze = strStanze.slice(1,-1);\n\n// costruisco l'array numerico\nvar arrStanze = strStanze.split(',').map(function(item) {\n    return parseInt(item, 10);\n});\n// scrivo l'attributo stanze del messaggio\nmsg.stanze = arrStanze\n\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":120,"wires":[["c5e9240e.0767e8"]]},{"id":"c5e9240e.0767e8","type":"switch","z":"87b116f2.636188","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"send_command","vt":"str"},{"t":"eq","v":"clean_segment","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":510,"y":120,"wires":[["fdaac04d.a7ba6"],["1d17ac38.06d254"]]},{"id":"fdaac04d.a7ba6","type":"function","z":"87b116f2.636188","name":"Prepara Servizio \"send_command\"","func":"// preparo il servizio da eseguire\nmsg.payload = {};\nmsg.payload.domain = \"vacuum\";\nmsg.payload.service = \"send_command\";\nmsg.payload.data = {\n    entity_id : \"vacuum.xiaomi_vacuum_cleaner\",\n    command : \"app_segment_clean\",\n    params : msg.stanze\n}\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":780,"y":80,"wires":[["de2859f4.6c4e48"]]},{"id":"1d17ac38.06d254","type":"function","z":"87b116f2.636188","name":"Prepara Servizio \"vacuum_clean_segment\"","func":"\n// preparo il servizio da eseguire\nmsg.payload = {};\nmsg.payload.domain = \"xiaomi_miio\";\nmsg.payload.service = \"vacuum_clean_segment\";\nmsg.payload.data = {\n    entity_id : \"vacuum.xiaomi_vacuum_cleaner\",\n    segments : msg.stanze\n}\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":810,"y":160,"wires":[["de2859f4.6c4e48"]]},{"id":"de2859f4.6c4e48","type":"api-call-service","z":"87b116f2.636188","name":"Esegui Servizio","server":"926d53a3.e53e1","version":1,"debugenabled":false,"service_domain":"","service":"","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1180,"y":120,"wires":[[]]},{"id":"dca8beaf.9bb41","type":"mqtt-broker","z":"","name":"Hassio Broker MQTT","broker":"192.168.68.3","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"926d53a3.e53e1","type":"server","z":"","name":"Home Assistant","legacy":false,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true}]
